/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f6f6f6;
    color: #333;
}

a {
    color: #1a73e8;
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0d47a1;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0d47a1;
    }

/* Navigation Styles */
nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav ul {
        list-style: none;
        display: flex;
    }

        nav ul li {
            margin-right: 20px;
        }

            nav ul li a {
                color: #333;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
            }

                nav ul li a:hover {
                    color: #1a73e8;
                }

/* Section Styles */
section {
    padding: 40px 0;
}

    section h1 {
        text-align: center;
    }

    section h2 {
        text-align: center;
    }

    section p {
        text-align: center;
    }

/* Project Styles */
.project {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .project img {
        max-width: 100%;
        height: auto;
        margin-right: 40px;
    }

    .project h2 {
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .project p {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.5;
        color: #555;
    }

/* Skill Set Styles */
.skill-set {
    margin-bottom: 40px;
}

    .skill-set h2 {
        text-align: center;
    }

    .skill-set ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .skill-set li {
        margin-right: 20px;
        margin-bottom: 20px;
        flex: 1 0 30%;
        max-width: 30%;
        display: flex;
        align-items: center;
    }

        .skill-set li img {
            max-width: 50px;
            height: auto;
            margin-right:
